@charset "UTF-8";
/*
Author: Kotsuruba Alexander
**********
*/

/* Coding
----------------------------------------------- */
.game {
   margin: 10rem auto;
}


.game-board-cont {
   padding-top: 2rem;
}
.game-board {
   border-top: 1px solid #CCC;
   border-left: 1px solid #CCC;
   display: flex;
   flex-wrap: wrap;
   align-content: start;
   width: 20rem;
   height: 20rem;
   margin: 0 auto;
}
.game-board-cont .status-message {
   width: 16rem;
   margin: -2rem auto 2rem;
   text-align: center;
}

.game-board-cell {
   border: 1px solid #CCC;
   border-top: none;
   border-left: none;
   flex-basis: 20%;
   height: 20%;
   cursor: pointer;
   }
.game-board-locked .game-board-cell {
   cursor: default;
   }
.game-board .game-board-row:first-child .game-board-cell {
   border-top: 1px solid #CCC;
   }
.game-board .game-board-row .game-board-cell:first-child {
   border-left: 1px solid #CCC;
}
.game-board-cell--highlight {
   background-color: var(--blue);
}
.game-board-cell--win {
   background-color: var(--green);
}
.game-board-cell--miss {
   background-color: var(--red);
}

.leaderboard-table {
   overflow: auto;
   max-height: 400px;
}

.gamer-setup {
   justify-content: center;
}